---
display_name: Get Validation Result
order: 4
---
## Navigation

[Unreal Engine Blueprint API Reference](https://dev.epicgames.com/documentation/en-us/unreal-engine/BlueprintAPI) > [Asset Validation](https://dev.epicgames.com/documentation/en-us/unreal-engine/BlueprintAPI/AssetValidation)

Get Validation Result

Target is Editor Validator Base

## Inputs

| Type | Name | Description |
| --- | --- | --- |
| object | Target |  |

## Outputs

| Type | Name | Description |
| --- | --- | --- |
| enum | Return Value | Get Validation Result |
